.add-button-container {
  position: absolute;
  bottom: 7%;
  background-color: white;
  width: 80%;
  height: 80px;
  border-radius: 5px;
  box-shadow: 0px 2px 10px gray;
  display: flex;
  justify-content: space-around;
  align-items: center;

  & > * {
    border: 0;
    outline: 0;
    border-radius: 5px;
  }

  input {
    width: 55%;
    height: 40px;
    background-color: #e5f0f1;
    padding: 0px 20px;
  }

  button {
    height: 40px;
    width: 200px;
    background-color: #5bc8af;
    border: 0;
    color: white;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    outline: none;
  }

  select {
    height: 40px;
    border: 1px solid lightgrey;
  }

  button,
  select,
  input {
    margin: 0px 5px;
  }

  @media (max-width: 599px) {
    flex-direction: column;
    height: 200px;
    bottom: 2%;
    width: 90%;
    input {
      width: 80%;
    }

    button,
    select {
      width: 91%;
    }
  }

  @media (min-width: 1250px) {
    select {
      width: 150px;
    }

    button {
      width: 250px;
    }
  }
}
